

/*HEADER CSS*/

header {
	grid-area: a;
	background-color: gray;
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	align-items: center;
}

header ul {
	margin-right: 30px;
}

header li {
	display: inline-block;
	padding: 30px;
}

a {
	color: black;
	text-decoration: none;
}

#header_logo {
	margin-left: 60px;
}


/*INDEX CSS*/

#index_container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 100px 500px 350px 350px 350px 300px 100px;
	grid-template-areas: "a"
						 "b" 
						 "c"
						 "d"
						 "e"
						 "f"
						 "g";
}

#index_main_banner {
	grid-area: b;
}

#index_does_this_sound_like_you {
	grid-area: c;
	background-color: gray;
}

#index_benefits {
	grid-area: d;
}

#index_top_articles {
	grid-area: e;
	background-color: gray;

}

#index_main_banner {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

/*does this sound like you css*/

#index_does_this_sound_like_you_photos {
display: flex;
justify-content: space-around;
}

#index_does_this_sound_like_you_photos img {
border-radius: 50px;
}

#index_does_this_sound_like_you h2 {
display: flex;
align-items: center;
justify-content: center;
}

#index_does_this_sound_like_you_paragraphs {
display: flex;
justify-content: space-around;
align-items: center;
}

#index_does_this_sound_like_you p {
width: 250px;
text-align: center;
}

/*what you'll learn css*/

#index_what_youll_learn {
display: flex;
flex-direction: column;
border: 3px solid black;
}

#index_what_youll_learn #content_div {
display: flex;
flex-direction: row;
border: 3px solid black;
}

#index_what_youll_learn div {
display: flex;
flex-direction: column;
flex: 1;
border: 2px solid black;
justify-content: center;
align-items: center;
}

#index_what_youll_learn h2 {
text-align: center;
}

#index_what_youll_learn img {
padding-top: 30px;
}

#index_what_youll_learn p {
width: 250px;
padding-top: 30px;
padding-bottom: 30px;
}

#index_top_articles h2 {
display: flex;
justify-content: center;
}

#index_top_articles ul {
display: flex;
justify-content: space-around;
align-items: center
} 

#index_top_articles li {
list-style-type: none;
display: flex;
}

#subscribe {
	grid-area: f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#subscribe p {
width: 500px;
text-align: center;
}

#index_footer {
	grid-area: g;
	background-color: gray;
}

/*blog starts here*/


#blog_container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100px 1400px 250px 100px;
	grid-template-areas: "a a"
						 "b c" 
						 "b d"
						 "e e";										    
}

#blog_optin_sidebar {
	grid-area: b;
	background-color: gray;
	text-align: center;
}

#blog_articles {
	grid-area: c;
}

#blog_article_container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

article {
	width: 600px;
}

#blog_subscribe {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#blog_subscribe p {
width: 500px;
text-align: center;
}

#blog_footer {
	grid-area: e;
	background-color: gray;
}


/*Resources CSS*/

#resources_container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100px 1600px 250px 100px;
	grid-template-areas: "a a"
						 "b c" 
						 "b d"
						 "e e";										    
}

#resources_optin_sidebar {
	grid-area: b;
	background-color: gray;
	text-align: center;
}

#resource_list {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#resource_list p {
	width: 600px;
}

#resources_footer {
	grid-area: e;
	background-color: gray;
}

#resources_subscribe {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#resources_subscribe p {
	width: 500px;
	text-align: center;
}

/*MISSION CSS*/
#mission_container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100px 1600px 250px 100px;
	grid-template-areas: "a a"
						 "b c" 
						 "b d"
						 "e e";										    
}

#mission_optin_sidebar {
	grid-area: b;
	background-color: gray;
	text-align: center;
}

#mission_content {
	grid-area: c;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#mission_content p {
	width: 600px;
}

#mission_subscribe {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#mission_subscribe p {
width: 500px;
text-align: center;
}

#mission_footer {
	grid-area: e;
}

#mission_footer {
	grid-area: e;
	background-color: gray;

}


/*CONTACT CSS*/
#contact_container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100px 1600px 250px 100px;
	grid-template-areas: "a a"
						 "b c" 
						 "b d"
						 "e e";										    
}

#contact_optin_sidebar {
	grid-area: b;
	background-color: gray;
	text-align: center;
}

#contact_content {
	grid-area: c;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/*#contact_content p {
	width: 600px;
}*/

#contact_subscribe {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#contact_subscribe p {
width: 500px;
text-align: center;
}

#contact_footer {
	grid-area: e;
}

#contact_footer {
	grid-area: e;
	background-color: gray;

}

/* FOOTER CSS */

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer h1 {
	padding-left: 60px;
}

footer p {
	padding-right: 60px;
}
