

/*HEADER*/

header {
	grid-area: a;
	background-color: white;
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
	align-items: center;
}

header ul {
	margin-right: 30px;
}

header li {
	display: inline-block;
	padding: 30px;
}

a {
	color: black;
	text-decoration: none;
}

#header_logo {
	margin-left: 60px;
}


/*INDEX*/

#index_container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 100px 550px 350px minmax(auto, auto) minmax(auto, auto) 300px 100px;
	grid-template-areas: "a"
						 "b" 
						 "c"
						 "d"
						 "e"
						 "f"
						 "g";
}

#index_main_banner {
	grid-area: b;
}

#index_does_this_sound_like_you {
	grid-area: c;
	background-color: white;
}

#index_benefits {
	grid-area: d;
}

#index_top_articles {
	grid-area: e;
	background-color: gray;

}

#index_main_banner {
background-image: url("images/guy_on_mountain.jpeg");
background-position: center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
position: relative;
z-index: 0;
}

#index_main_banner::after {
content:"";
position: absolute;
background-color: black;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
opacity: .075;
}

#index_main_banner h2 {
font-size: 58px;
margin: 0;
}

#index_main_banner h4 {
font-size: 22px;
}

#index_main_banner button {
	background-color: #27bd93;
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 5%;
	padding: 10px 15px;
}

/*DOES THIS SOUND LIKE YOU?*/

#index_does_this_sound_like_you_photos {
display: flex;
justify-content: space-around;
}

#index_does_this_sound_like_you_photos img {
border-radius: 50px;
padding-top: 25px;
}

#index_does_this_sound_like_you h2 {
display: flex;
align-items: center;
justify-content: center;
}

#index_does_this_sound_like_you_paragraphs {
display: flex;
justify-content: space-around;
align-items: center;
}

#index_does_this_sound_like_you p {
width: 250px;
text-align: center;
}

/*WHAT YOU"LL LEARN*/

#index_what_youll_learn {
display: flex;
flex-direction: column;
background-color: #f3f3f3;
}

#index_what_youll_learn #content_div {
display: flex;
flex-direction: row;
}

#index_what_youll_learn #content_div div {
display: flex;
flex-direction: column;
flex: 1;
justify-content: center;
align-items: center;
}

#index_what_youll_learn h2 {
text-align: center;
padding-top: 10px;
}


#index_what_youll_learn img {
padding-top: 30px;
}

#index_what_youll_learn p {
width: 250px;
padding-bottom: 20px;
}

/*INDEX TOP ARTICLES*/

#index_top_articles {
display: flex;
flex-direction: column;
background-color: white;
}

#top_article_container {
display: flex;
flex-direction: row;
flex: 1; 
}

.top_article {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex: 1; 
padding-bottom: 20px;
}

.top_article p {
	width: 70%;
}

.top_article a {
	color: #27bd93;
	font-weight: bolder;
	display: inline-block;
	width: 70%;
}


#index_top_articles h2 {
display: flex;
justify-content: center;
}

#index_top_articles ul {
display: flex;
justify-content: space-around;
align-items: center
} 

#index_top_articles li {
list-style-type: none;
display: flex;
}

#index_top_articles img {
	padding: 25px 0px;
	border-radius: 15%;
}

#subscribe {
grid-area: f;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #f3f3f3;
}

#subscribe p {
width: 500px;
text-align: center;
}

#index_footer {
grid-area: g;
background-color: white;
}


/*BLOG*/


#blog_container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100px minmax(auto, auto) 250px 100px;
	grid-template-areas: "a a"
						 "b c" 
						 "b d"
						 "e e";										    
}

#blog_optin_sidebar {
	grid-area: b;
	text-align: center;
}

#blog_articles {
	grid-area: c;
}

#blog_article_container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#blog_articles h2 {
padding-bottom: 25px;
}

#blog_optin_sidebar {
	padding-top: 13px;
}

#blog_top_articles {
padding-top: 30px;
}

.sidebar_top_article img {
	max-height:150px; 
}

article {
	width: 600px;
	padding-bottom: 50px;
}

article a {
	color: #27bd93;
	font-weight: bolder;
}

#blog_articles img {
max-width: 600px;
}

#blog_subscribe {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#blog_subscribe p {
width: 500px;
text-align: center;
}

#blog_footer {
	grid-area: e;
}


/*RESOURCES*/

#resources_container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100px 1600px 250px 100px;
	grid-template-areas: "a a"
						 "b c" 
						 "b d"
						 "e e";										    
}

#resources_optin_sidebar {
	grid-area: b;
	background-color: gray;
	text-align: center;
}

#resource_list {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#resource_list p {
	width: 600px;
}

#resources_footer {
	grid-area: e;
	background-color: gray;
}

#resources_subscribe {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#resources_subscribe p {
	width: 500px;
	text-align: center;
}

/*MISSION CSS*/
#mission_container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100px 1600px 250px 100px;
	grid-template-areas: "a a"
						 "b c" 
						 "b d"
						 "e e";										    
}

#mission_optin_sidebar {
	grid-area: b;
	background-color: gray;
	text-align: center;
}

#mission_content {
	grid-area: c;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#mission_content p {
	width: 600px;
}

#mission_subscribe {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#mission_subscribe p {
width: 500px;
text-align: center;
}

#mission_footer {
	grid-area: e;
}

#mission_footer {
	grid-area: e;
}


/*CONTACT CSS*/
#contact_container {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100px 1600px 250px 100px;
	grid-template-areas: "a a"
						 "b c" 
						 "b d"
						 "e e";										    
}

#contact_optin_sidebar {
	grid-area: b;
	background-color: gray;
	text-align: center;
}

#contact_content {
	grid-area: c;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/*#contact_content p {
	width: 600px;
}*/

#contact_subscribe {
	grid-area: d;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#contact_subscribe p {
width: 500px;
text-align: center;
}

#contact_footer {
	grid-area: e;
}

#contact_footer {
	grid-area: e;
}

/* FOOTER CSS */

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

footer h1 {
	padding-left: 60px;
}

footer p {
	padding-right: 60px;
}
